<!DOCTYPE html>
<html>
<head>
  <title>Jennifer Fry, Web Dev & Global Vagabond</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'album' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<link rel='icon' href='favicon.ico' type='image/x-icon'> 
	<link rel='shortcut icon' href='favicon.ico' type='image/x-icon'>
</head>
<body>

<%= yield %>

</body>
</html>
